.get-involved-container {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	text-align: center;
}

.get-involved-title {
	font-size: 2rem;
	font-weight: bold;
}

.get-involved-container p {
	text-align: center;
}

.image-container {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.icon-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.icon-container a {
	width: 80px;
	height: 80px;
}

.get-involved-image-container {
	width: 80px;
	height: 80px;
}

.square-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
