.contact-us-form-container > p {
	margin: 20px; /* gap below the "Fields mark with an asterisk (*) are required." */
}

.contact-us-form {
	display: grid;
	row-gap: 15px;
	padding: 25px 20px;
	border-radius: 10px;
	/* background-color: var(--green02); */
	background-image: linear-gradient(
		45deg,
		hsl(113, 63%, 27%) 0%,
		hsl(113, 63%, 35%) 50%,
		hsl(113, 63%, 27%) 100%
	);
}

.contact-us-form-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contact-us-form-input,
.contact-us-form-select,
.contact-us-form-textarea {
	border: none;
}

.contact-us-form-input,
.contact-us-form-select,
.contact-us-form-textarea {
	width: 100%;
	padding: 6px;
	background-color: hsl(115, 100%, 95%);
	border-radius: 10px;
}

.contact-us-form-label {
	font-weight: 600;
	color: var(--white);
}

.contact-us-form-select {
	cursor: pointer;
}

.contact-us-form-textarea {
	height: 96px;
	resize: none;
}

.contact-us-form-submit-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contact-us-form-submit {
	justify-self: center; /* override default grid item rule and place in the center */
	padding: 6px 24px;
	border: none;
	border-radius: 20px;
	background-color: var(--green01);
	color: var(--white);
	cursor: pointer;
	font-weight: 600;
}

.contact-us-form-submit:hover {
	background-color: var(--yellow-logo);
	color: var(--black);
}

.contact-us-form-submit.disabled {
	background-color: var(--gray05);
}

.contact-us-form-submit-result {
	color: var(--yellow-logo);
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	.contact-us-form-container {
		margin: 0 auto;
		width: 85%;
	}

	.contact-us-form {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, auto);
		row-gap: 25px; /* larger row-gap for Desktop */
		column-gap: 50px; /* adjust this center column gap */
		padding: 40px 50px; /* larger padding for Desktop */
	}

	.contact-us-form-message-container {
		grid-column: 1 / 3; /* spread across both columns */
	}

	.contact-us-form-textarea {
		height: 160px; /* more height on the textarea for Desktop */
	}

	.contact-us-form-submit-container,
	.contact-us-form-submit {
		grid-column: 1 / 3; /* spread across both columns */
		justify-self: end; /* override default grid item rule and place at the end */
	}
}
