.governance-section {
	margin-bottom: 30px;
	padding: 30px 20px;
	background-color: var(--green08);
}

.governance-section h2 {
	color: white;
}

.governance-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.governance-text-container {
	/* placeholder */
}

.governance-line {
	background-color: var(--white);
	margin-bottom: 20px;
}
