.contact-us-page {
	background-color: var(--green18);
	padding-top: 20px;
}

@media screen and (min-width: 768px) {
	.contact-us-page {
		margin: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.contact-us-page {
		margin: auto;
	}
}
