.tools-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cards-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}