.event-page {
	padding: 20px;
	background-color: var(--green16);
}

@media screen and (min-width: 768px) {
	.event-page {
		padding: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.event-page {
		/* placeholder */
	}
}

.event-page .search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
	.event-page .search-form {
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
}

.cards-list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
