.services-page {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.services-page-title {
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	.services-page {
		margin: 40px;
	}
}

@media screen and (min-width: 1200px) {
	.services-page {
		margin: 40px auto;
	}
}

.services-page-title {
	padding-bottom: 20px;
}
