.services-page {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media screen and (min-width: 768px) {
	.services-page {
		margin: 40px;
	}
}

@media screen and (min-width: 1200px) {
	.services-page {
		margin: 40px auto;
	}
}
