.volunteer-form-container > h3 {
	text-align: center;
	margin-bottom: 20px;
	color: var(--green17);
}

.volunteer-form-container > p {
	/* for gap below "Fields marked with an asterisk (*) are required */
	margin-bottom: 10px;
}

.volunteer-form {
	display: grid;
	row-gap: 20px;
	padding: 20px 30px;
	/* background-color: var(--green02); */
	border-radius: 10px;
	background-image: linear-gradient(
		45deg,
		hsl(113, 63%, 27%) 0%,
		hsl(113, 63%, 35%) 50%,
		hsl(113, 63%, 27%) 100%
	);
}

.volunteer-form-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.volunteer-form-label {
	font-weight: 600;
	color: var(--white);
}

.volunteer-form-input,
.volunteer-form-textarea {
	padding: 6px;
	border: 2px solid hsl(120, 100%, 15%);
	border-radius: 10px;
	background-color: hsl(115, 100%, 95%);
}

.volunteer-form-textarea {
	width: 100%;
	height: 160px;
	resize: none;
}

.volunteer-form-submit {
	justify-self: center;
	padding: 4px 24px;
	background-color: var(--green01);
	color: var(--white);
	border: 0;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
}

.volunteer-form-submit:hover {
	background-color: var(--yellow-logo);
	color: var(--black);
}

@media screen and (min-width: 768px) {
	.volunteer-form-container {
		width: 80%;
		margin: 0 auto;
	}

	.volunteer-form {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
		padding: 30px 50px;
	}

	.volunter-form-message-container {
		grid-column: 1 / 3;
	}

	.volunter-form-textarea {
		height: 160px;
	}

	.volunteer-form-submit {
		grid-column: 1 / 3;
		justify-self: end;
	}
}
