.news-page {
	margin: 20px;
}

@media screen and (min-width: 768px) {
	.news-page {
		margin: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.news-page {
		margin: 40px auto;
	}
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-bottom: 1rem;
}

.cards-list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
