.history-section {
	margin-bottom: 30px;
}

.history-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.history-image-container {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.history-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* tablet */
@media screen and (min-width: 768px) {
	.history-container {
		flex-direction: row;
	}

	.history-image-container {
		width: 40%;
		height: 250px;
	}

	.history-text {
		width: 60%;
	}
}
