.gallery-album-page {
  padding: 20px;
  background-color: var(--green16);
}

.gallery-title {
  color: var(--green17);
}

.gallery-page-line {
  width: 95%;
  /* background-color: var(--green17); */
  background-image: linear-gradient(
    90deg,
    hsl(113, 40%, 75%) 0%,
    hsl(111, 26%, 67%) 25%,
    hsl(111, 27%, 41%) 50%,
    hsl(111, 26%, 67%) 75%,
    hsl(113, 40%, 75%) 100%
  );
}

.gallery-album-title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--green17);
}

.gallery-album-summary {
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery-album-link-back {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  padding: 5px;
  transition: all ease-in-out 250ms;
  background-color: var(--green17);
  color: white;
  font-weight: 800;
  font-size: 12px;
}
.gallery-album-link-back:hover {
  background-color: var(--yellow-logo);
  color: var(--green07);
}

.gallery-album-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-album-image-container {
  width: 100%; /* Change to percentage to make it responsive */
  height: auto; /* Remove fixed height to maintain aspect ratio */
}

.gallery-album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container-gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(240px, 1fr)
  ); /* Use auto-fit and minmax to create responsive grid */
  grid-template-rows: repeat(
    2,
    1fr
  ); /* Use fr units for responsive row height */
  gap: 12px;
}

.pswp__img {
  height: auto !important;
}

@media screen and (min-width: 768px) {
  .gallery-album-page {
    padding: 40px 20px;
  }

  .gallery-album-summary {
    width: 80%;
  }

  .gallery-album-image-container {
    width: 100%; /* Change to percentage to make it responsive */
    height: auto; /* Remove fixed height to maintain aspect ratio */
  }
}

@media screen and (min-width: 1200px) {
  .gallery-album-page {
    /* Add specific styles for larger screens if needed */
  }
}
