.home-services-section {
	padding-top: 20px;
	/* background-color: var(--green16); */
	background-image: linear-gradient(
		45deg,
		var(--green16) 0%,
		hsl(115deg 100% 96%) 25%,
		hsl(115deg 100% 98%) 50%,
		hsl(115deg 100% 96%) 75%,
		var(--green16) 100%
	);
}

.home-services-title {
	text-align: center;
	color: var(--green17);
}

.home-services-line {
	width: 85%;
	/* background-color: var(--green17); */
	background-image: linear-gradient(
		90deg,
		var(--green17) 0%,
		var(--green12) 50%,
		var(--green17) 100%
	);
}

.home-services-card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 20px;
	column-gap: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
	/* placeholder */
}

@media screen and (min-width: 1200px) {
	/* placeholder */
}
