.home-services-section {
	padding-top: 10px;
	background-color: var(--green11);
	/* background-color: hsl(126, 73%, 30%); */
	background-image: linear-gradient(
		180deg,
		hsl(112deg 100% 91%) 0%,
		hsl(113deg 100% 93%) 5%,
		hsl(115deg 100% 95%) 10%
	);
}

.home-services-title-link {
	text-decoration: none;
}

.home-services-title {
	text-align: center;
	color: var(--green17);
}

.home-services-title:hover {
	color: #20441b;
}

.home-services-line {
	width: 60%;
	/* background-color: var(--green17); */
	background-image: linear-gradient(
		90deg,
		hsl(120, 100%, 92%) 0%,
		hsl(113, 44%, 29%) 50%,
		hsl(120, 100%, 92%) 100%
	);
}

.home-services-card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 20px;
	column-gap: 20px;
	padding-top: 30px;
	padding-bottom: 40px;

	/* background-color: var(--green16); */
	background-image: linear-gradient(
		0deg,
		var(--green16) 0%,
		hsl(115deg 100% 96%) 25%,
		hsl(115deg 100% 98%) 50%,
		hsl(115deg 100% 96%) 75%,
		var(--green16) 100%
	);
}

@media screen and (min-width: 768px) {
	/* placeholder */
}

@media screen and (min-width: 1200px) {
	/* placeholder */
}
