.gallery-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 1px solid var(--gray80);
	border-radius: 15px;
	text-decoration: none;
	color: var(--black);
}

.gallery-card-container:hover .gallery-card-overlay,
.gallery-card-container:focus .gallery-card-overlay {
	opacity: 0;
}

.gallery-card-title {
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	z-index: 3;
}

.gallery-card-image-container {
	width: 320px;
	height: 200px;
	position: relative;
}

.gallery-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.gallery-card-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	transition: 0.5s ease;
	background: rgba(25, 59, 5, 0.6);
	border-radius: 15px;
}
