.card-link {
	text-decoration: none;
	color: var(--black);
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	transition: all 0.2s ease-in-out;
}

.card-container-home {
	width: 90%;
}

.card-container-content {
	/* ORIGINAL */
	/* width: 280px; */
	/* SOLUTION*/
	width: 340px;
}

.card-container-content:hover {
	box-shadow: rgba(2, 86, 20, 0.16) 0px 3px 6px,
		rgba(3, 65, 32, 0.23) 0px 3px 6px;
}

@media screen and (min-width: 768px) {
	.card-container-content {
		width: 350px;
	}
}

.card-link:hover {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card-image-container {
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 1rem;
	border-radius: 25px;
}

.card-image-container-home {
	width: 100%;
}

.card-image-container-content {
	/* ORIGINAL */
	/* width: 240px; */
	/* SOLUTION*/
	width: 300px;
	height: 160px;
}

.card-title {
	color: var(--green08);
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
	.card-image-container-content {
		width: 300px;
		height: 200px;
		margin-top: 25px;
	}
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-subcontainer {
	position: relative;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	gap: 0.5rem;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.card-date {
	border-radius: 25px;
	font-weight: 600;
}

.card-start-date {
	font-size: 16px;
	font-weight: 600;
	color: var(--green07);
}

.card-category {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 14px;
	padding: 0 10px;
	border-radius: 25px;
	background-color: var(--green17);
	color: white;
}

.card-tags-container {
	display: flex;
	gap: 4px;
	padding: 0.2rem 0.5rem;
	border-radius: 25px;
	background-color: var(--green11);
}

.card-tag {
	font-size: 14px;
	color: var(--green02);
}

.card-button {
	position: absolute;
	bottom: -10px;
	right: -15px;
	padding: 6px;
	border: 0;
	border-radius: 50%;
	background-color: var(--green17);
	color: var(--white);
	cursor: pointer;
}

.card-button:hover {
	background-color: var(--green07);
}

.card-button-icon {
	display: block;
}
