.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 350px;
	margin: 0 0 2rem 0;
	position: relative;
	border-radius: 25px;
	/* just for test for now */
	border: 1px solid var(--black);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	transition: all 0.2s ease-in-out;
}

.card-container:hover {
	/* just for test */
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card-image-container {
	/* changed this to make border visible */
	width: 348px;
	height: 250px;
	overflow: hidden;
	margin-bottom: 0.5rem;
	border-radius: 25px;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-subcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	gap: 0.5rem;
}

/* this should be in global or tell me if you know better name */
.flex-space-between {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.card-tag {
	background-color: var(--gray80);
	padding: 0.2rem 0.5rem;
	border-radius: 25px;
}

/* will change this style when we have a good design for it */
.card-button {
	align-self: flex-end;
	margin-bottom: 0.5rem;
	width: 30px;
	height: 30px;
	background-color: var(--gray60);
	border: 1px solid var(--black);
	color: var(--white);
	cursor: pointer;
	border-radius: 50%;
}

.card-button:hover {
	background-color: var(--gray40);
}
