.about-page {
	padding: 20px 0;
	background-color: var(--green16);
}

.about-page-title {
	color: var(--green17);
}

@media screen and (min-width: 768px) {
	.about-page {
		padding: 40px 0;
	}
}

@media screen and (min-width: 1200px) {
	.about-page {
		/* placeholder */
	}
}
