.gallery-page {
	background-color: var(--green16);
	padding: 20px 0;
}

.gallery-page-title {
	/* placeholder */
	color: var(--green07);
}

.gallery-page-line {
	background-color: var(--green07);
	width: 90%;
}

.gallery-page-list-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.gallery-page {
		padding: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.gallery-page {
		margin: 0 auto;
		padding: 40px 0;
	}
}
