.gallery-page {
  padding: 20px;
  background-color: var(--green16);
}

.gallery-page-title {
  color: var(--green17);
}

.gallery-page-line {
  width: 95%;
  /* background-color: var(--green17); */
  background-image: linear-gradient(
    90deg,
    hsl(113, 40%, 75%) 0%,
    hsl(111, 26%, 67%) 25%,
    hsl(111, 27%, 41%) 50%,
    hsl(111, 26%, 67%) 75%,
    hsl(113, 40%, 75%) 100%
  );
}

.gallery-page-list-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .gallery-page {
    padding: 40px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-page {
    /* placeholder */
  }
}
