.service-page {
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.service-image-container {
	width: 280px;
	margin: 0 auto;
	display: block;
}

.service-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.service-category-tag-container {
	display: flex;
	justify-content: space-between;
}

.service-category-tag-container p {
	font-weight: 600;
}

.service-content-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.go-back-button {
}

@media screen and (min-width: 480px) {
	.service-image-container {
		width: 400px;
	}
}

@media screen and (min-width: 768px) {
	.service-page {
		margin: 40px auto;
		gap: 15px;
	}

	.service-category-tag-container {
		margin: 0 auto;
		width: 75%;
	}

	.service-content-container {
		/* repeated because likely to be different from above */
		margin: 0 auto;
		width: 75%;
	}
}
