.service-page {
	padding: 20px;
	position: relative;
	background-color: var(--green16);
	display: flex;
	flex-direction: column;
}

.service-page-line {
	background-color: var(--green08);
	width: 80%;
}

.service-page h1 {
	margin-top: 15px;
}

/* container children: image, category/tags/data, service */
.service-page-subcontainer {
	margin: 0 auto;
	padding: 0 20px;
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(2, auto);
	grid-template-areas:
		"image image"
		"tag ."
		"category ."
		"date ."
		"content content";
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.service-page-image-container {
	width: 100%;
	grid-area: image;
	align-self: flex-start;
	margin: 0 auto;
}

.service-page-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.service-page-category-tags-date-container span {
	font-weight: 600;
}

.service-page-category {
	padding: 0.2rem 0.5rem;
	background-color: var(--green17);
	color: white;
	grid-area: category;
}

.service-page-tags-container {
	display: flex;
	gap: 4px;
	padding: 0.2rem 0.5rem;
	background-color: var(--green17);
	color: white;
	grid-area: tag;
}

.service-page-date {
	padding: 0.2rem 0.5rem;
	background-color: var(--green17);
	color: white;
	grid-area: date;
}

.service-page-service-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	grid-area: content;
}

@media screen and (min-width: 480px) {
	.service-page-subcontainer {
		grid-template-rows: repeat(4, auto);
		grid-template-columns: repeat(2, auto);
		grid-template-areas:
			"image image"
			"tag ."
			"category date "
			"content content";
	}

	.service-page h1 {
		margin-top: 0;
	}
}

@media screen and (min-width: 870px) {
	.service-page {
		padding: 40px 20px;
	}

	.service-page-subcontainer {
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"category date . tag"
			"content content image image";
		gap: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.service-page {
		margin: 0 auto;
		padding: 40px 0;
	}
}
