.error-page {
	padding: 20px;
	background-color: hsl(0, 100%, 95%);
}

.error-page-title {
	color: hsl(0, 100%, 30%);
}

.error-page-line {
	width: 90%;
	background-image: linear-gradient(
		45deg,
		hsl(0deg 90% 80%) 0%,
		hsl(0deg 90% 50%) 25%,
		hsl(0deg 90% 30%) 50%,
		hsl(0deg 90% 50%) 75%,
		hsl(0deg 90% 80%) 100%
	);
}

.error-page-message {
	text-align: center;
	font-weight: 500;
}

.error-page-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
}

@media screen and (min-width: 768px) {
	.error-page {
		padding: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.error-page {
		/* placeholder */
	}
}
