.networking-section {
	/* placeholder */
}

.networking-container {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.networking-image-container {
	width: 100%;
	height: 150px;
}

.networking-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.networking-text-container {
	/* placeholder */
}
