.networking-section {
	padding: 0 20px;
}

.networking-line {
	background-color: var(--black);
}

.networking-container {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.networking-image-container {
	margin: 15px 0;
	width: 100%;
	height: 150px;
}

.networking-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.networking-text-container {
	/* placeholder */
}
