.service-card-link {
	text-decoration: none;
	color: var(--black);
}

.service-card-title {
	color: white;
	z-index: 1;
}

.service-card-learn {
	color: var(--yellow-logo);
	z-index: 1;
	text-align: center;
}

.service-card-container {
	position: relative;
	display: inline-block;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: center;
	padding: 20px 20px;
	border-radius: 15px;
	transition: all 0.2s ease-in-out;
	width: 280px;
	height: 150px;
}

.service-card-container:hover {
	box-shadow: rgba(2, 86, 20, 0.56) 2px 3px 6px,
		rgba(3, 65, 32, 0.53) 2px 3px 6px;
}

.service-card-image-container {
	width: 280px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	border-radius: 15px;
	top: 0;
	left: 0;
}

.overlay {
	position: absolute;
	border-radius: 15px;
	top: 0;
	left: 0;
	background-color: rgba(4, 91, 4, 0.62);
	width: 100%;
	height: 100%;
}

.service-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	z-index: -1;
}

@media screen and (min-width: 768px) {
	.service-card-container {
		width: 350px;
		height: 160px;
	}

	.service-card-image-container {
		width: 350px;
		height: 160px;
	}
}
