.networking-affiliates-container {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
}

.networking-affiliate {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.networking-affiliate-image-container {
	width: 50px;
}

.networking-affiliate-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.networking-affiliate-name {
	/* placeholder */
}

@media screen and (min-width: 480px) {
	.networking-affiliates-container {
		grid-template-columns: 1fr 1fr;
	}

	.networking-affiliate {
		justify-content: center;
	}
}
