.not-found-page {
	padding: 20px;
	background-color: hsl(0, 100%, 95%);
}

.not-found-page-title {
	color: hsl(0, 100%, 30%);
}

.not-found-page-line {
	width: 90%;
	background-image: linear-gradient(
		45deg,
		hsl(0deg 90% 80%) 0%,
		hsl(0deg 90% 50%) 25%,
		hsl(0deg 90% 30%) 50%,
		hsl(0deg 90% 50%) 75%,
		hsl(0deg 90% 80%) 100%
	);
}

.not-found-page-subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.not-found-page-message {
	text-align: center;
	font-weight: 500;
}

.not-found-page-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	.not-found-page {
		padding: 40px 20px;
	}
}

@media screen and (min-width: 1200px) {
	.not-found-page {
		/* placeholder */
	}
}
