.volunteer-section {
	/* placeholder for future adjustment */
}

.volunteer-section > h2 {
	/* placeholder for future adjustment */
}

.volunteer-image-container {
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px; /* to offset from the paragraph */
}

.volunteer-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.volunteer-section > p {
	margin-bottom: 20px; /* to offset from the form*/
}

@media screen and (min-width: 700px) {
	.volunteer-section > p {
		width: 80%;
		margin: 0 auto 30px auto; /* to center and offset from the form */
	}
}
