.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin: 2rem 5rem
}

.image-wrapper {
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contents{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 3rem;
}

@media screen and (min-width: 820px){

.content-box {
    flex-direction: row;
    gap: 2rem;
    align-items: start;
}
}