.home-event-container-left {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.home-event-container-left {
		flex-direction: row;
		width: 50%;
		height: 400px;
	}
}

.home-event-image-container-left {
	width: 100%;
	height: 300px;
}

@media screen and (min-width: 768px) {
	.home-event-image-container-left {
		width: 40%;
		height: 100%;
	}
}

.home-event-image-left {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home-event-details-left {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	.home-event-details-left {
		width: 60%;
		align-items: center;
		justify-content: center;
	}
}

.home-event-title-left {
	color: var(--white);
	text-decoration: none;
	transition: 0.5s all ease-in-out;
}

.home-event-container-left:hover .home-event-title-left,
.home-event-container-left:focus .home-event-title-left {
	color: var(--yellow-logo);
}

.home-event-summary-left {
	color: var(--white);
}

@media screen and (min-width: 768px) {
	.home-event-summary-left {
		padding: 0 7%;
	}
}

.home-event-date-left {
	color: var(--white);
	align-self: flex-end;
	background: rgba(241, 248, 243, 0.08);
	padding: 3px 7px;
	border-radius: 25px;
}
